.u-section-1 .u-sheet-1 {
  min-height: 1213px;
}

.u-section-1 .u-text-1 {
  width: 762px;
  margin: 210px auto 0;
}

.u-section-1 .u-text-2 {
  width: 647px;
  margin: 30px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 133px;
  margin-bottom: 38px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px) calc(33.3333% - 17.3333px);
  grid-gap: 26px 26px;
  min-height: 737px;
  grid-auto-columns: calc(33.3333% - 17.3333px);
  width: 1140px;
  margin: auto 0 0;
}

.u-section-1 .u-list-item-1 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-1 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-4 {
  font-style: italic;
  margin: 25px 1px 0;
}

.u-section-1 .u-list-item-2 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-2 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-6 {
  font-style: italic;
  margin: 25px 1px 0;
}

.u-section-1 .u-list-item-3 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-3 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-8 {
  font-style: italic;
  margin: 25px 1px 0;
}

.u-section-1 .u-list-item-4 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-4 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-10 {
  font-style: italic;
  margin: 25px 1px 0;
}

.u-section-1 .u-list-item-5 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-5 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  margin: 25px 1px 0;
}

.u-section-1 .u-list-item-6 {
  transition-duration: 0.25s;
  width: 321px;
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
  transform: translateX(20px) translateY(20px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 29px;
}

.u-section-1 .u-icon-6 {
  height: 91px;
  width: 91px;
  margin: 1px auto 0;
  padding: 15px;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  margin: 18px 0 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  margin: 25px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 17.3333px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-1 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-3 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-4 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-5 {
    transition-duration: 0.5s;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-6 {
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    grid-auto-columns: calc(50% - 12.999975000000001px);
    min-height: 2059px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.u-section-1 .u-list-item-3,
.u-section-1 .u-list-item-3:before,
.u-section-1 .u-list-item-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-3 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-3.u-list-item-3.u-list-item-3.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-2,
.u-section-1 .u-list-item-2:before,
.u-section-1 .u-list-item-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-2 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-2.u-list-item-2.u-list-item-2.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-1,
.u-section-1 .u-list-item-1:before,
.u-section-1 .u-list-item-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-1 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-1.u-list-item-1.u-list-item-1.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-4,
.u-section-1 .u-list-item-4:before,
.u-section-1 .u-list-item-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-4 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-4.u-list-item-4.u-list-item-4.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-5,
.u-section-1 .u-list-item-5:before,
.u-section-1 .u-list-item-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-5 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-5.u-list-item-5.u-list-item-5.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-list-item-6,
.u-section-1 .u-list-item-6:before,
.u-section-1 .u-list-item-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover:before {
  background-color: #e9f2fa !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6:hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-list-item-6 {
  border-color: transparent !important;
}

.u-section-1 .u-list-item-6.u-list-item-6.u-list-item-6.hover {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4) !important;
  border-radius: 50px !important;
  transform: translateX(20px) translateY(0px) scale(1) rotate(0deg) !important;
}

.u-section-1 .u-container-layout:hover .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-list-item-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 33px auto 60px;
}